@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@layer utilities {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
