@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), system-ui;
  --font-display: var(--font-display), monospace;
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

